li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  body{
background: linear-gradient(to right, salmon,orange);

  }

  h1 {

    text-align: center;
    font-family: 'Seymour One', sans-serif;

  }

  .card-body{
    background: skyblue;
  }

  p{
    font-family: 'Seymour One', sans-serif;

  }

  .card{
    background:linear-gradient(to right, salmon,orange)
  }